<!-- nav.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if (pagename == "Home") {%>
                        <a class="nav-link" style="color: orange" href="/">Home</a>
                    <%}
                    else{%>
                        <a class="nav-link" href="/">Home</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if (pagename == "About") {%>
                        <a class="nav-link" style="color: orange" href="/about">About</a>
                    <%}
                    else{%>
                        <a class="nav-link" href="/about">About</a>
                    <%}%>
                </li>
                <li class="nav-item">
                    <% if (pagename == "Contact") {%>
                        <a class="nav-link" style="color: orange" href="/contact">Contact</a>
                    <%}
                    else{%>
                        <a class="nav-link" href="/contact">Contact</a>
                    <%}%>
                </li>

                <% if(typeof(sess) != "undefined" && sess.loggedin == true) {%>
                    <li class="nav-item">
                        <% if (pagename == "Profile") {%>
                            <a class="nav-link" style="color: orange" href="/profile">Profile</a></li>
                        <%}
                        else{%>
                            <a class="nav-link" href="/profile">Profile</a>
                        <%}%>
                        
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" onmouseover="this.style.color='red'" onmouseout="this.style.color='rgba(255, 255, 255, 0.55)'">Logout</a>
                    </li>
                <%}%> 
            </ul>
        </div>
    </div>
</nav>

<% if(typeof(sess) != undefined && sess.loggedin == undefined) {%>
    <div style="z-index: 12;
        display: block;
        text-align: center;
        background-color: #333a40;
        margin-right: 0px;
        color: gray;
        position: absolute;
        width: 155px;
        margin-top: 4px;
        margin-right: 5px;
        padding-top: 5px;
        right: 0px;
        border-radius: 10px;
        padding: 11px;
        font-size: 12px;">
        <form action="/login" method="POST">
            <input type="email" name="email" style="width: 100%; border-radius: 4px; padding: 2px" placeholder="email">
            <input type="password" name="password" style="width: 100%; border-radius: 4px; padding: 2px" placeholder="password">
            <input type="submit" style="margin-top: 4px;">
        </form>
    </div>
<%}%>
    
<% if(typeof(errors) != "undefined") {%>
    <% for(x in errors){%>
        <br><span style="color: red"><%= errors[x] %></span>
    <%}%>
<%}%>
